
.skautbazar_row_hidden{
	display: none;
}

.skautbazar_table{
	width: 100%;
}

.skautbazar_table td{
	padding: 5px;
	vertical-align: top;
	text-align: left;
}

.skautbazar_table_header{
	width: 20%;
}

.required-info{
	color: red;
	padding-left: 20px;
}

.skautbazar_buttons{
	display: block;
}

textarea#skautbazar_buyer_message {
	width: 270px;
	height: 90px;
	resize: both;
}

.skautbazar_table input[type=text],
.skautbazar_table input[type=email],
.skautbazar_table input[type=tel] {
	min-width: 270px;
}
