.skautbazar_post{
	max-width: 800px;
	margin: 0 auto;
	padding: 24px;
	margin-bottom: 24px;
	background-color: #eee;
}

.skautbazar_post:last-child{
	border-bottom: none;
}

.skautbazar_post p{
	margin: 0;
	padding: 0;
}

.skautbazar_post_heading{
	line-height: 140%;
	margin: 0;
	padding: 0;
	display: inline;
}

.skautbazar_infotext{
	line-height: 180%;
	padding-bottom: 9px;
}

.skautbazar_clear{
	clear: both;
}

.skatubazar_post_img{
	width: 44%;
	float: left;
}

.skatubazar_post_img img{
	width: 100%;
	height: auto;
}

.skatubazar_post_img img{
	width: 100%;
	height: auto;
}

.skatubazar_post_box{
	width: 55%;
	float: right;
}

.skautbazar_prev_img{
	padding: 20px;
}

.skautbazar_prev_img img{
	padding-right: 20px;
	padding-top: 10px;
}

.skautbazar_post_info{
	padding: 20px 0;
}

.skatubazar_post_category{
	padding: 20px 0;
}

.skautbazar_rezervace{
	text-align: right;
}

.skautbazar_rezervace a{
	display: inline-block;
	text-align: center;
	padding: 6px 14px;
	background-color: green;
	text-decoration: none !important;
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.skautbazar_rezervovano{
	background-color: red;
	text-align: center;
	padding: 6px 14px;
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.skautbazar_emailbox_bg{
	display: none;
	position: fixed;
	overflow-y: scroll;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 8888 !important;

	width: 100%;
	height: 100%;

	-webkit-animation: fade-in .25s ease-in;
	-moz-animation-name: fade-in .25s ease-in;
	-ms-animation-name: fade-in .25s ease-in;
	-o-animation-name: fade-in .25s ease-in;
	animation-name: fade-in .25s ease-in;

	background-color: rgba(0, 0, 0, 0.8);
}

.skautbazar_emailbox{
	display: block;
    position: relative;
    margin: auto;
    width: 600px;
    top: 50%;
    margin-top: -150px;
    padding: 30px;
    background-color: #fff;
}

.skautbazar_email_close{
	float: right;
}

body{
	position: relative; 
	height: 100%;
	min-height: 100%;
}

.skautbazar_infotext{
	width: 70%;
	float: left;
}

.skautbazar_rezervace{
	width: 29%;
	float: right;
}

.skautbazar_pagination{
	list-style-type: none;
	width: 100%;
}

.skautbazar_pagination li{
	float: left;
}

.skautbazar_pagination li a{
	display: block;
	float: left;
	margin: 0 4px;
}

.skautbazar_post_box_full{
	width: 100%;
}

@media screen and (max-width: 460px) {
	.skatubazar_post_img,
	.skatubazar_post_box,
	.skautbazar_prev_img,
	.skatubazar_post_category,
	.skautbazar_infotext,
	.skautbazar_infotext,
	.skautbazar_rezervace{
		width: 100%;
	}

	.skautbazar_prev_img{
		margin: 0;
		padding: 0;
	}

	.skautbazar_post_heading{
		margin-top: 1em;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.skautbazar_post_info{
		padding: 0;
	}

	.skatubazar_post_box{
		margin-top: 10px;
	}

	.skautbazar_rezervace{
		margin-top: 10px !important;
		float: left;
		padding-top: 15px;
	}
}
